:root {
    --green-color: #8dfd1b;
    --background-color: #222;
    --purple-color: #42006a;

    //fonts
    --font-family: "DM Mono", sans-serif;
    --second-family: "Audiowide", sans-serif;
    --third-family: "Inter", sans-serif;
}