@import 'global';
@import 'var';
@import 'reset';

//blocks
@import 'blocks/atrists';
@import 'blocks/discord';
@import 'blocks/faq';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/nft';
@import 'blocks/partners';
@import 'blocks/promo';
@import 'blocks/roadmap';
@import 'blocks/story';
@import 'blocks/team';


.visual-divider {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    &__img {
        width: 100%;
    }
}

