.artists {
    padding: 60px 0;
    margin-bottom: 120px;
    &__title {
      margin-bottom: 127px;  
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;
        &__title {
            margin-bottom: 120px;
        }
        .artists__item {
            max-width: 245px;
            &-img {

            }

            &-name {
                padding: 20px 0;
                text-align: center;
                font-family: var(--font-family);
                line-height: 150%;
                text-align: center;
            }
        }
    }
    
}

@media (max-width: 1000px) {
    .artists {
        &__inner {
            gap: 30px;
        }
    }
}

@media (max-width: 800px) {
    .artists {
        &__inner {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
    }
}

@media (max-width: 500px) {
    .artists {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
