.footer {
    padding: 101px 0 120px;
    background-color: var(--purple-color);
    font-family: var(--font-family);
    .footer__inner {
        display: flex;
        gap: 64px;
        .footer__item {
            .logo__img {
                width: 103px;
                height: 24px;
                object-fit: cover;
                margin-bottom: 70px;
            }
            .footer__item-comment {               
                font-size: 13px;
                line-height: 158%;
                margin-bottom: 29px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .footer__menu {
                &-item {
                    font-size: 16px;
                    line-height: 120%;
                    margin-bottom: 29px;
                    min-width: 110px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        
        }

        .footer__nav {
            display: flex;
            gap: 100px;
        }
        
    }
    
}
