.footer {
    padding: 101px 0 120px;
    background-color: var(--purple-color);
    .footer__inner {
        display: flex;
        gap: 100px;
        .footer__item {
        }
        .logo__img {
        }
        .footer__item-comment {
        }
        .footer__menu {
        }
        .footer__menu-item {
        }
        .footer__menu-link {
        }
        .footer__item-comment-link {
        }
        .social {
        }
        .social__list {
        }
        .social__list-item {
        }
        .social__list-link {
        }
        .social__list-img {
        }
    }
    
}
