.nft {
    padding: 60px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
        .nft__media {
            .nft__title {
                max-width: 351px;
                margin-bottom: 41px;
            }
        }
        
        .nft__info {
            max-width: 60%;
            &-main {
                margin-bottom: 32px;
            }
            &-text {
                margin-bottom: 17px;
            }
            &-link {
                display: block;
                margin-top: 36px;
                width: 246px;
                padding: 10px 0 16px 0;
                border: 1px solid var(--green-color);
                font-family: var(--font-family);
                line-height: 100%;
                text-transform: capitalize;
                text-align: center;
            }
        }
        
    }
    
}

@media (max-width: 800px) {
    .nft {
        &__inner {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .nft__media {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .nft__title {
                    max-width: 80%;
                    text-align: center;
                }
                &-img {
                }
            }
            .nft__info {
                max-width: 80%;
                &-text {
                    margin-bottom: 25px;
                }
                &-link {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .nft {
        &__inner {
            .nft__media {
                .nft__title {
                    max-width: 90%;
                }
                &-img {
                }
            }
            .nft__info {
                max-width: 100%;
            }
        }
    }
}
