.nft {
    padding: 60px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nft__media {
            .nft__title {
                max-width: 351px;
                margin-bottom: 41px;
            }
            &-img {
            }
        }
        
        .nft__info {
            max-width: 580px;
            &-main {
                margin-bottom: 32px;
            }
            &-text {
                margin-bottom: 17px;
            }
            &-link {
                display: block;
                margin-top: 36px;
                width: 246px;
                padding: 10px 0 16px 0;
                border: 1px solid var(--green-color);
                font-family: var(--font-family);
                line-height: 100%;
                text-transform: capitalize;
                text-align: center;
            }
        }
        
    }
    
}
