.promo {
    margin-bottom: 60px;   
    min-height: calc(100vh - 100px);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .promo__info {
            max-width: 50%;
            &-title {
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 51px;
                line-height: 119%;
                text-transform: uppercase;
                margin-bottom: 43px;
                max-width: 484px;
            }
            &-text {
                margin-bottom: 115px;
                max-width: 340px;
            }
            &-btn {
                background-color: var(--green-color);
                width: 205px;
                padding: 17px 27px;
                text-align: center;
                font-family: var(--font-family);
                line-height: 100%;
                text-transform: capitalize;
                color: #000;
            }
        }
        
        
    }
    
}

@media (max-width: 800px) {
    .promo {
        &__inner {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 30px;
            .promo__media {
                height: 50%;
                &-img {
                    object-fit: cover;
                    max-width: 47%;
                    margin: 0 auto;
                }
            }

            .promo__info {
                max-width: 90%;
                &-title {
                    max-width: 80%;
                    text-align: center;
                    margin: 0 auto;
                    font-size: 43px;
                    margin-bottom: 30px;
                }

                &-text {
                    max-width: 80%;
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }

                &-btn {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .promo {
        &__inner {
           
            .promo__info {
                &-title {
                    max-width: 100%;
                }

                &-text {
                    max-width: 100%;
                }

            }
        }
    }
}

@media (max-width: 400px) {
    .promo {
        &__inner {
            .promo__info {
                max-width: 100%;
                &-title {
                    font-size: 32px;
                    max-width: 100%;
                }

            }
        }
    }
}

