.team {
    padding: 60px 0;
    margin-bottom: 100px;
    &__title {
        margin-bottom: 122px;
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;

        .team__item {
            &-img {
                margin-bottom: 19px;
            }
            &-name {
                font-family: var(--font-family);
                font-size: 21px;
                line-height: 132%;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 18px;
            }
            &-job {
                font-family: var(--font-family);
                font-size: 11px;
                line-height: 109%;
                letter-spacing: 0.09em;
                text-transform: uppercase;
                text-align: center;
                color: var(--green-color);
                margin-bottom: 22px;
            }
            &-links {
                display: flex;
                gap: 12px;
                justify-content: center;
                align-items: center;
                margin-bottom: 22px;
            }
            &-text {
                font-size: 12px;
                line-height: 160%;
                text-align: center;
            }
        }
       
    }
    
}

@media (max-width: 900px) {
    .team {
        &__inner {
            gap: 50px;
        }
    }
}

@media (max-width: 600px) {
    .team {
        &__inner {
            max-width: 80%;
            margin: 0 auto;
            grid-template-columns: 1fr;
            gap: 50px;
            .team__item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

